* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-main-div {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container{
    height: 100%;
}

.contact-wrapper{
    height: 100%;

}


.contact-content-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-wrapper{
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.social-item-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 25px;
    margin: 0 45% 0 30%;
}

.social-item{
    border: 2.5px solid black;
    padding: 25px;
    border-radius: 50%;
    color: #000000;
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset 4px 4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    position: relative !important;
}
#social-item-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.social-item:focus{
    outline: none;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    border-radius: 6px;
    font-weight: 800;
    padding: 5px 0;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 120%;
    transition: .1s ease-out;
  }
  
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(255, 255, 255) transparent transparent;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
.social-item:hover .tooltiptext {
    visibility: visible;
  }

.contact-right{
    width: 40%;
    height: 55%;
    margin: 0 0 0 2rem;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px 20px 10px ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.contact-right p{
    margin: 5px;
    font-weight: 599.9;
    text-align: justify;
}

.developer{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 0 10px;
    color: brown;
}

.contac-right-details{
    margin: 2rem 0 0 0;
}

.contact-right-details-item{
    margin: 10px 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text-primary{
    font-size: 15px;
    font-weight: 800;
    margin: 0 10px 0 10px;

}

.text-secondary{
    font-size: 13px;
    font-weight: 600;
    position: relative;

}

#contact-item-logo{
    margin: 0 0 0 5px;
    position: absolute;
    font-size: 16px;
    left: 100%;
}
